https://falcon.crowdstrike.com/detects/123456
https://falcon.crowdstrike.com/detects/12345678
https://falcon.crowdstrike.com/detects/1234567890
https://falcon.crowdstrike.com/detects/9876543210
https://falcon.crowdstrike.com/detects/87654321
https://falcon.crowdstrike.com/detects/654321
https://falcon.crowdstrike.com/detects/999999
