{"event":{"Success":true,"UTCTimestamp":#TIMESTAMP#,"OperationName":"twoFactorAuthenticate","UserId":"#USER_EMAIL#","ServiceName":"CrowdStrike Authentication","UserIp":"#IP_ADDRESS#"},"metadata":{"customerIDString":"#CUSTOMER_ID#","eventType":"AuthActivityAuditEvent","offset":#OFFSET#}}
{"metadata":{"customerIDString":"#CUSTOMER_ID#","offset":#OFFSET#,"eventType":"AuthActivityAuditEvent"},"event":{"UserId":"#USER_EMAIL#","UserIp":"#IP_ADDRESS#","OperationName":"twoFactorAuthenticate","ServiceName":"CrowdStrike Authentication","Success":false,"UTCTimestamp":#TIMESTAMP#}}
{"event":{"UserName":"#USERNAME#","ProcessId":103152535310,"ProcessStartTime":#TIMESTAMP#,"Severity":2,"ParentProcessId":103133469329,"CommandLine":"#FILE_PATH#","FilePath":"#FILE_PATH#","ComputerName":"#HOSTNAME#","DetectName":"KnownMalware","FileName":"#FILE_PATH#","ScanResults":[{"Engine":"K7AntiVirus","Detected":true,"Version":"9.220.19189","ResultName":"Unwanted-Program(004bc56d1)"},{"Engine":"AegisLab","Detected":true,"Version":"4.2","ResultName":"Hktl.Netcat.Gen!c"}],"SeverityName":"Low","MD5String":"5dcf26e3fbce71902b0cd7c72c60545b","SHA1String":"970bbe298c8ec673fe2257ad6363d29942171fd1","FalconHostLink":"#FALCON_HOST_LINK#","MachineDomain":"#HOSTNAME#","SensorId":"#SENSOR_ID#","SHA256String":"e8fbec25db4f9d95b5e8f41cca51a4b32be8674a4dea7a45b6f7aeb22dbc38db","DetectDescription":"A file surpassed an anti-virus detection threshold as potential adware","ProcessEndTime":0},"metadata":{"customerIDString":"#CUSTOMER_ID#","eventType":"DetectionSummaryEvent","offset":#OFFSET#}}
{"event":{"Success":true,"UTCTimestamp":#TIMESTAMP#,"AuditKeyValues":[{"Key":"detects","ValueString":"1378213310953669400"},{"Key":"new_state","ValueString":"true_positive"}],"OperationName":"UpdateDetectState","UserId":"#USER_EMAIL#","ServiceName":"Detects","UserIp":"#IP_ADDRESS#"},"metadata":{"customerIDString":"#CUSTOMER_ID#","eventType":"UserActivityAuditEvent","offset":#OFFSET#}}
{"event":{"ProcessId":"25917476803","ProcessStartTime":#TIMESTAMP#,"FilePath":"#FILE_PATH#","AgentIdString":"f2c76aa30f40454064d4ecbdaecfd2ca","ParentProcessId":"25826055931","ComputerName":"#HOSTNAME#","MD5String":"2f0eaaf91fc7a5c70d1f4be9b18a1cf5","FileName":"#FILE_PATH#","DeviceId":"f2c76aa30f40454064d4ecbdaecfd2ca","CommandLine":"#FILE_PATH#"},"metadata":{"customerIDString":"#CUSTOMER_ID#","eventType":"CustomerIOCEvent","offset":#OFFSET#}}
{"event":{"SensorCount":"4,FalconStreamingAPIReference","MD5String":"","FileName":"#FILE_PATH#","AlertTime":#TIMESTAMP#,"Signer":"","Sensors":[{"AgentIdString":"#SENSOR_ID#","Filename":"#FILE_PATH#","HostnameField":"Unavailable-at-this-time","LastWriteTime":1464973200},{"AgentIdString":"#SENSOR_ID#","Filename":"#FILE_PATH#","HostnameField":"Unavailable-at-this-time","LastWriteTime":1464973200},{"AgentIdString":"#SENSOR_ID#","Filename":"#FILE_PATH#","HostnameField":"Unavailable-at-this-time","LastWriteTime":1464973200},{"AgentIdString":"#SENSOR_ID#","Filename":"#FILE_PATH#","HostnameField":"Unavailable-at-this-time","LastWriteTime":1464973200}],"ExecutionType":"PeWritten","SHA256String":"ccdc215f8f6d3d9877ba31290269bc38610453aad595dc60b48a2266d5428eb4"},"metadata":{"customerIDString":"#CUSTOMER_ID#","eventType":"HashSpreadingEvent","offset":#OFFSET#}}
