<div class="refresh-time-indicator pull-right"></div>
<div class="tree-title">
    <h2>Devices and Interfaces</h2>
</div>
<div>
  Health Score: <span class="dot1"></span> Good (100-66) 
  <span class="dot2"></span> Fair (65-36) 
  <span class="dot3"></span> Poor (0-35) 
  <span class="dot0"></span> N/A
</div>
<div class="netops-health-graph"></div>
<!--
<div class="panel-footer">
    <div class="view-results pull-left"></div>
    <div class="progress-container pull-right splunk-view splunk-progressbar"></div>
</div>
-->
